.navBar{
    width: 100%;
    height: 40px;
    background-color: blueviolet;
    color: whitesmoke;
    box-shadow: 2px 2px 2px 2px gray;
    padding-top: 7px;
    margin-bottom: 8px;
}

.navBar a {
    margin: 10px;
    color: whitesmoke;
}